<div class="login-container">
  <div class="logo-container">
    <img src="/images/logo-image.png" alt="Logo" class="logo">
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
    <h2>Вход в Kaiten</h2>
    <div class="form-group">
      <label for="apiKey">API Ключ</label>
      <input
        type="password"
        id="apiKey"
        formControlName="apiKey"
        class="form-control"
        placeholder="Введите ваш API ключ"
      />
    </div>
    <button type="submit" [disabled]="!loginForm.valid">Войти</button>
    <div *ngIf="error" class="error-message">{{ error }}</div>
  </form>
</div> 